body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    position: relative; /* For ripple effect positioning */
    overflow: hidden;
}

/* .container {
    position: relative; /* Ensure container is positioned relative for absolute positioning inside */
    /* background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; */
/* }  */

/* .question-container {
    margin-bottom: 20px;
} */

.question {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.choice-button {
    color: white;
    border: none;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 300px; /* Increase button width */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice-button:hover {
    background-color: #7ba7d5;
    transform: scale(1.05);
}

.choice-image {
    width: 250px; /* Increase image size */
    height: 250px; /* Increase image size */
    margin-bottom: 10px;
    object-fit: contain; /* Maintain original aspect ratio */
}

.results-container p {
    font-size: 1.2em;
    margin: 10px 0;
}

.see-more-results-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.2em;
    margin-top: 20px;
}

.see-more-results-button:hover {
    background-color: #218838;
}

.back-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: #ffc107;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.2em;
}

.back-button:hover {
    background-color: #e0a800;
}

.ripple {
    position: absolute;
    border-radius: 50%;
    border: 2px solid rgba(31, 155, 196, 0.5);
    animation: ripple-effect 1.5s linear;
    transform: scale(0);
}

@keyframes ripple-effect {
    0% {
        opacity: 1;
        transform: scale(0);
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.bubble {
    position: absolute;
    border-radius: 50%;
    background: rgba(31, 155, 196, 0.5);
}

@keyframes bubble-effect-0 {
    0% {
        transform: translateY(0) scale(0.5);
        opacity: 1;
    }
    100% {
        transform: translateY(-75px) translateX(-40px) scale(1);
        opacity: 0;
    }
}

@keyframes bubble-effect-1 {
    0% {
        transform: translateY(0) scale(0.5);
        opacity: 1;
    }
    100% {
        transform: translateY(-75px) translateX(40px) scale(1);
        opacity: 0;
    }
}
