body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #FDFFD2;
    position: relative; /* For ripple effect positioning */
    overflow: hidden;
}

#home-button {
    position: fixed;
    top: 20px;
    left: 20px;
    font-family: 'AukimExtraBold', sans-serif;
    font-size: 1.5rem;
    color: rgb(35, 35, 35);
    text-decoration: none;
    z-index: 1000; /* Ensure it is above other content */
}

#home-button:hover {
    text-shadow: 0 0 10px rgba(35, 35, 35, 0.8);
}

@font-face {
    font-family: 'AukimExtraBold';
    src: url('fonts/AukimExtraBold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'AukimLight';
    src: url('fonts/AukimLight.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BCcardL';
    src: url('fonts/BCcardL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BCcardB';
    src: url('fonts/BCcardL.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.question {
    position: inherit;
    font-family: 'BCcardL', sans-serif;
    font-size: 2em;
    color: white;
    position: fixed;
}

.choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.choice-button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 40px 60px;
    cursor: pointer;
    transition: transform 0.3s;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice-button.large {
    margin: 20px 60px;
    width: 150px;
    height: 150px;
    align-items: center;
    flex-direction: column;
}

.choice-button:hover {
    background-color: transparent;
    transform: scale(1.05);
}

.choice-image {
    color: transparent;
    width: 400px;
    height: 400px;
    margin-bottom: 10px;
    object-fit: contain; /* Maintain original aspect ratio */
}

.result-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease;
    text-align: center;
    z-index: 100;
    overflow: hidden;
}

.result-container h2 {
    font-family: "BCcardB";
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #333;
    text-align: center;
}

.result-container div {
    margin-bottom: 10px;
}

.result-container strong {
    color: #333;
    font-family: 'BCcardB';
    font-size: 25px;
}

.result-container span {
    color: #333;
    font-family: 'BCcardL';
    font-size: 20px;
    font-weight: normal;
}

.result-container .color-box {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 5px;
}

#result-data {
    font-family: "BCcardL";
    font-size: 12px;
    line-height: 1.6;
    overflow-y: auto;
    max-height: 300px;
    text-align: left; /* Align text properly */
}

.result-container pre {
    white-space: pre-wrap; /* Ensure preformatted text wraps correctly */
}

.see-more-results-button {
    position: fixed;
    bottom: 20px;
    right:20px;
    width: 140px;
    height: 100px;
    background-image: url('images/7.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s;
    color: transparent;
}

.see-more-results-button:hover {
    transform: scale(1.2);
}

.back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 80px;
    height: 80px;
    background-image: url('images/6.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s;
    color: transparent;
}

.back-button:hover {
    transform: scale(1.2);
}

.ripple {
    position: absolute;
    border-radius: 50%;
    border: 4px solid rgba(147, 191, 209, 0.8);
    animation: ripple-effect 1.5s linear;
    transform: scale(0);
}

@keyframes ripple-effect {
    0% {
        opacity: 1;
        transform: scale(0);
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.bubble {
    position: absolute;
    border-radius: 50%;
    background: rgba(165, 203, 215, 0.8);
    width: 15px;
    height: 15px;
}

@keyframes bubble-effect-0 {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-75px) translateX(-40px) scale(1);
        opacity: 0;
    }
}

@keyframes bubble-effect-1 {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-75px) translateX(40px) scale(1);
        opacity: 0;
    }
}

.rain-line {
    position: absolute;
    width: 6px;
    background: rgba(158, 194, 208, 0.8);
    animation: fall 0.5s linear;
}

@keyframes fall {
    0% {
        opacity: 1;
        transform: translateY(-100vh); /* Start from above the viewport */
    }
    100% {
        opacity: 0;
        transform: translateY(0); /* End at the original position */
    }
}
